.c_index_articleList {
  list-style: none;
  padding: 0;
  width: 320px;
  margin: 25px auto;
}

.c_index_article {
  padding: 10px;
}

.c_index_articleTitle {
  font-size: 16px;
  margin: 0 auto;
}

.c_index_articleUpdatedAt {
  font-size: 12px;
  color: dimgray;
}