.c_footer_main {
  position: relative;
  margin-top: 2em;
  padding: 0.5em 1em;
  border-top: solid 3px #c09f80;
  background-color: white;
}

.c_footer_boxTitle {
  position: absolute;
  display: inline-block;
  top: -27px;
  left: 10px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  background: #c09f80;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  font-size: 13px;
  font-style: italic;
}

.c_footer_hamsauya {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 50px auto 0;
  background-color: white;

  > p {
    font-size: 15px;
    color: dimgray;
    text-align: center;
    background-color: white;
  }
}

.c_footer_listContents {
  list-style: none;
  width: 270px;
  padding: 0;
  margin: 45px auto;
  background-color: white;

  > li {
    color: dimgray;
    margin: 15px auto;
    font-size: 14px;
    background-color: white;
  }
}

.c_footer_copylight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: dimgray;
  background-color: white;

  > a {
    background-color: white;
  }

  ::after {
    position: absolute;
    content: '';
    right: 0px;
    top: -3px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #c09f80 #fff #c09f80;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: white;
  }
}